*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/res/drawable-1920x1080/.app_launch.png.icloud
app/src/main/res/mipmap-xxxhdpi/.app_launch.png.icloud
gradle/
qAMasterSDK/build/generated/res/
qAMasterSDK/build/generated/source/aidl/
qAMasterSDK/build/generated/source/rs/
qAMasterSDK/build/intermediates/attr/
qAMasterSDK/build/intermediates/bundles/debug/aidl/
qAMasterSDK/build/intermediates/check-manifest/
qAMasterSDK/build/intermediates/incremental/packageDebugResources/stripped.dir/
qAMasterSDK/build/intermediates/incremental/processDebugResources/
qAMasterSDK/build/intermediates/manifests/aapt/debug/output.json
qAMasterSDK/build/intermediates/manifests/full/
qAMasterSDK/build/intermediates/res/debug/
qAMasterSDK/build/intermediates/res/symbol-table-with-package/
qAMasterSDK/build/intermediates/rs/
qAMasterSDK/build/outputs/logs/
qAMasterSDK/build/generated/assets/
qAMasterSDK/build/generated/source/apt/
qAMasterSDK/build/intermediates/bundles/debug/assets/
qAMasterSDK/build/intermediates/classes/
qAMasterSDK/build/intermediates/incremental/debug-mergeJniLibs/
qAMasterSDK/build/intermediates/incremental/mergeDebugJniLibFolders/
qAMasterSDK/build/intermediates/intermediate-jars/
qAMasterSDK/build/intermediates/javaPrecompile/
qAMasterSDK/build/intermediates/jniLibs/
qAMasterSDK/build/intermediates/shaders/
qAMasterSDK/build/intermediates/transforms/
qAMasterSDK/build/tmp/
