<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdu.myship.blackstone">

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    最后，设置高德Key

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59391631310c9350ca0000bd">
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="2d07c154133bd5253ca02e416e3ae7cb">
        </meta-data>
        <meta-data android:name="com.amap.api.v2.apikey" android:value="902b0a942fa8043b1cc3302b607e7b4d"></meta-data>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".launcherActivity"
            android:theme="@style/AppTheme.No">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />
        <service android:name="com.amap.api.location.APSService"></service>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".SpeciesDeatailedActivity" />
        <activity android:name=".SpeciesClassActivity" />
        <activity
            android:name=".AccountAndSecurityActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".PersonInformationActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ResetPhoneActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MakeTeamActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".CopyRightActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ResetPasswordActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MyCollectionsActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MyRecordsActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".AddNotesActivity" />

        <service
            android:name=".UploadIntentService"
            android:exported="false" />

        <activity
            android:name=".ResetPasswordTwoActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ForgetPasswordTwoActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".SuggestionsActivity" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".ResetPasswordThreeActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ForgetPasswordThreeActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".MyCollectionsTwoActivity" />
        <activity android:name=".MyRecordTwoActivity" />
        <activity android:name=".RecordAlterActivity" />
        <activity android:name=".ClipActivity" />
        <activity android:name=".AlterNotesActivity" />
        <activity android:name=".GuideTabOneActivity" />
        <activity android:name=".ShowImageActivity" />
        <activity android:name=".GuideTableTwoActivity" />
        <activity android:name=".GuideTableThreeActivity" />
        <activity android:name=".GuideTableFourActivity"></activity>
    </application>

</manifest>