<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hdu.myship.blackstone">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".launcherActivity"
            android:theme="@style/AppTheme.No">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity android:name=".RegisterActivity" />
        <activity android:name=".SpeciesDeatailedActivity" />
        <activity android:name=".SpeciesClassActivity" />
        <activity
            android:name=".AccountAndSecurityActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".PersonInformationActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ResetPhoneActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MakeTeamActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".CopyRightActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ResetPasswordActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MyCollectionsActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".MyRecordsActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".AddNotesActivity" />

        <service
            android:name=".UploadIntentService"
            android:exported="false" />

        <activity
            android:name=".ResetPasswordTwoActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ForgetPasswordTwoActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".SuggestionsActivity" />
        <activity android:name=".SearchActivity" />
        <activity
            android:name=".ResetPasswordThreeActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ForgetPasswordThreeActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".MyCollectionsTwoActivity" />
        <activity android:name=".MyRecordTwoActivity" />
        <activity android:name=".RecordAlterActivity"></activity>
        <activity android:name=".ClipActivity"></activity>
    </application>

</manifest>